body {
    margin: 0;
    height: 100vh;
    background-color: #fdf6e3;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#control-panel {
    flex: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#control-panel input[type=number] {
    width: 3rem;
    text-align: right;
}

#next {
    padding: 2px 4px;
}

#canvas {
    flex: auto;
    height: 0;
}