html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: cornsilk;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#panel {
    flex: initial;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

#panel > label {
    flex: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

#panel > label > input {
    text-align: center;
}

#size {
    width: 60px;
}

#next {
    width: 120px;
}

#canvas {
    flex: 1 1 auto;
    height: 0px;
}
